header{
    // border: 2px solid red;
    padding-bottom: 17px;
    nav{
       display: flex;
       justify-content: space-between;
       padding: 15px 40px 0 40px;
    .elearn{
        display: flex;
        gap: 15px;
        align-items: center;
        h2{
            color: rgb(54, 54, 255);
            cursor: pointer;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
    ul{
        display: flex;
        gap: 20px;
        align-items: center;
        
        li{
            list-style: none;
            cursor: pointer;
            &:hover{
                color: rgb(87, 143, 248);
            }
        }
        button{
            width: 140px;
            height: 40px;
            background-color: rgb(115, 115, 255);
            color: white;
            border: 1px solid rgb(119, 119, 255);
            font-size: 20px;
        }
    }
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.onemassive{
    background-image: url(./crosscampus2019.avif);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(rgb(14, 14, 80));
        opacity: 0.5;
    }
    .onebigchild{
        width: 700px;
        height: 300px;
        // border: 2px solid red;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 60px;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        z-index: 11;
        h4{
            color: rgb(255, 255, 255);
            font-size: 20px;
            z-index: 11;
        }
        h2{
            font-size: 50px;
            text-transform: capitalize;
            color: rgb(236, 255, 25);
            
        }
        p{
            font-size: 20px;
            color: white;
        }
        button{
            width: 100px;
            height: 44px;
            background-color: aqua;
            border-radius: 8px;
            // cursor: pointer;
            font-size: 15px;
           
        }
    }
}
article{
    width: 80%;
    height: 300px;
    // border: 2px solid red;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    .minicard{
        height: 100%;
        background-color: rgb(177, 210, 223);
        transition: 0.4s;
        flex-direction: column;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        p{
            text-align: center;
        }
        h4{
            font-size: 20px;
        }
        &:hover{
            transform: translateY(-20px);
            color: rgb(0, 0, 0);
            background-color: aqua;
        }
    }
}
.welcome{
    width: 80%;
    margin: 50px auto;
    // border: 2px solid red;
    height: 400px;
    display: flex;
    justify-content: space-between;
    .leftside{
        width: 48%;
        height: 100%;
        // border: 2px solid black;
    }
    .rightside{
        width: 48%;
        height: 100%;
        // border: 2px solid black;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        h3{
            font-size: 34px;
        }
        .pe{
            color: rgb(24, 82, 255); position: relative;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            &::after{
                position: absolute;
                content: "";
                width: 70px;
                height: 2px;
                background-color: rgb(0, 47, 157);
                bottom: 0;
                left: 90px;
            }
        }
        .pi{
            font-size: 20px;
        }
        button{
            width: 200px;
            background-color: blue;
            height: 40px;
            color: white;
            border: none;
            border-radius: 10px;
        }
    }
}